<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>

<p id="counter"></p>

<script type="text/javascript">
$('#micropost_content').keyup(function () {
    var left = 140 - $(this).val().length;
    if (left < 0) {
        $('#counter').css("color","red");
    }
	else
	{
	$('#counter').css("color","#777777");
	}
    $('#counter').text('Characters left: ' + left);
});
</script>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>